/* applies to medium devices (tablets, less than 992px) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .nav-item-container, .login-signup-container {
        display: none;
    }
    .company-name-container {
        width: fit-content;
    }
    .navbar-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .menu-btn {
        display: block;
        font-size: 35px;
        cursor: pointer;
    } 
    .nav-ofcanvas {
        width: 80%;
    }
    .signupbtn {
        padding: 0px;
        height: 6vh;
        width: 20vh;
    }
    .page-one-container {
        padding: 0;
        height: 90vh;
        width: 100%;
    }
    .page-one {
        border-radius: 0;
        justify-content: space-around;
        padding: 5vh;
    }
    .page-one-heading {
        margin-top: 5vh;
        gap: 2vh;
    }
    .query-parent {
        height: 20vh;
        width: 100%;
    } 
    .category-items {
        width: 20vw;
    }
    .query-search {
        height: 70%;
        width: 100%;
        display: flex;
        gap: 5px;
        color: black;
    }
    .search {
        height: 100%;
        width: 100%;
        padding: 1.5vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }
    .searchbtn {
        width: 90%;
    }
    .crousel-container {
        width: auto;
        margin: 1vh 2vh;
    }
    .heading-two {
        height: fit-content;
        width: 100%;
        padding: 3vh 2vh;
    }
    .page-three-container {
        width: 100%;
    }
    .page-three {
        flex-direction: column-reverse;
        margin: 2vh;
    }
    .getstartedbtn {
        width: 30%;
    }
    .getstarted-container, .learnmore-container {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .none {
        display: none;
        height: 0px;
    }
    .page-four {
        width: 100%;
        height: 100%;
        padding: 5vh 2vh;
        margin-top: 2vh;
        display: flex;
        gap: 2vh;
        flex-direction: column;
    }
    .page-four-items {
        height: auto;
        width: 100%;
    }
    .page-four-items-1 {
        display: none;
    }
    .page-four-img-container {
        top: 0;
        left: 0;
    }
    .page-four-img-container-2 {
        bottom: 0;
        right: 0;
    }
    .page-four-img-container, .page-four-img-container-2 {
        height: 80%;
        width: 60%;
    }
    .page-five {
        height: 100%;
        margin: 1vh;
        gap: 1vh;
        padding: 0;
        flex-direction: column-reverse;
    }
    /* .page-five-child {
        gap: 2vh;
    } */
    .outer {
        width: 100%;
    }
    .page-six {
        height: 40vh;
    }
    .worldmap-img {
        width: 60%;
        height: auto;
        top: 30%;
    }
    .page-six-item {
        width: 85%;
        padding: 2vh;
    }
    .page-seven {
        height: 100%;
        background-color: antiquewhite;
        padding: 2vh;
        display: flex;
        align-items: center;
    }
    .page-seven-content {
        width: 90%;
    }
    .page-seven-item {
        height: 50%;
        width: 100%;
        border-radius: 3vh;
        overflow: hidden;
        padding: 2vh;
    }
    .left-circle {
        height: 80px;
    }
    .right-circle {
        height: 120px;
    }
    .page-eight-subheading {
        text-align: center;
    }
    .page-eight {
        height: auto;
        margin: 2vh;
    }
    .footer {
        margin: 0 2vh;
        height: 10vh;
    }



 }

 /* applies to x-small devices (portrait phones, less than 576px) */
 @media (max-width: 575.98px) { 
    .nav-item-container, .login-signup-container {
        display: none;
    }
    .company-name-container {
        width: fit-content;
    }
    .navbar-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .menu-btn {
        display: block;
    }
    .signupbtn {
        padding: 0px;
        height: 6vh;
        width: 20vh;
    }
    .page-one-container {
        padding: 0;
    }
    .page-one {
        border-radius: 0;
        padding: 3vh;
    }
    .page-one-heading {
        margin-top: 0;
        gap: 2vh;

    }

    .page-one {
        border-radius: 0;
        justify-content: start;
        padding: 2vh;
        gap: 20vh;
        
    }
    .page-one-heading {
        gap: 2vh;
    }
    .query-parent {
        height: 42vh;
        width: 100%;
        border: solid 1px white;
        display: flex;
        flex-direction: column;
        gap: 0px;
    } 
    .category-items {
        width: 100%;
        border-radius: 0px;
        background-color: aliceblue;
        height: 100%;
    }
    .category-active {
        background-color: rgb(255, 238, 0);
    }
    .query-search {
        height: 100%;
        width: 100%;
        margin-top: 0;
        display: grid;
        gap: 0;
        grid-template-columns: repeat(2,1fr);
        color: black;
    }
    .date {
        width: 100%;
        padding: 5px;
        margin-top: 0px;
    }
    .search {
        height: 100%;
        width: 100%;
        padding: 1.5vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }
    .searchbtn {
        width: 90%;
    }
    .searchbtn-container {
        justify-content: end;
        align-items: center;
    }

    .crousel-container {
        width: auto;
        margin: 1vh 2vh;
    }
    .heading-two {
        height: fit-content;
        width: 100%;
        padding: 3vh 2vh;
    }
    .page-three-container {
        gap: 2vh;
        width: 100%;

    }
    .page-three {
        flex-direction: column-reverse;
        margin: 2vh;
    }
    .getstartedbtn {
        width: 50%;
    }
    .getstarted-container, .learnmore-container {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .none {
        display: none;
    }


    .page-four {
        width: 100%;
        height: 100%;
        padding: 5vh 2vh;
        margin-top: 2vh;
        display: flex;
        gap: 1vh;
        flex-direction: column;
    }
    .page-four-items {
        width: 100%;
    }
    .page-four-items-1 {
        display: none;
    }
    .page-four-img-container {
        top: 0;
        left: 0;
    }
    .page-four-img-container-2 {
        bottom: 0;
        right: 0;
    }
    .page-four-img-container, .page-four-img-container-2 {
        height: 100%;
        width: 60%;
    }
    .page-five {
        height: 100%;
        margin: 2vh;
        padding: 0;
        gap: 3vh;
        display: flex;
        flex-direction: column-reverse;
    }
    .heading-four {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .outer {
        width: 100%;
    }

    .worldmap-img {
        width: 90%;
        height: auto;
        top: 30%;
    }
    .page-six-item {
        width: 100%;
        padding: 3vh 2vh;
    }
    .page-six {
        margin: 0 2vh;
        height: 65vh;
        padding: 0;
    }
    .subscribe-input-container {
        position: relative;
        display: inline-block;
        width: 100%;
    }
    .page-seven {
        height: 100%;
        padding: 0;
        background-color: antiquewhite;
        display: flex;
        align-items: center;
        margin: 5vh 0;
    }
    .page-seven-content {
        width: 100%;
    }
    .page-seven-item {
        height: 50%;
        width: 100%;
        border-radius: 0;
        overflow: hidden;
        padding: 2vh;
    }
    .get-started-yellow-btn {
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .left-circle {
        height: 15vh;
    }
    .right-circle {
        display: none;
    }
    .page-eight {
        height: auto;
        margin: 2vh;
    }
    .footer {
        margin: 0 2vh;
        height: 15vh;
    }
    
  }