/* applies to medium devices (tablets, less than 992px) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .nav-item-container, .login-signup-container {
        display: none;
    }
    .company-name-container {
        width: fit-content;
    }
    .navbar-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .menu-btn {
        display: block;
        font-size: 35px;
        cursor: pointer;
    } 
    .nav-ofcanvas {
        width: 80%;
    }
    .signupbtn {
        padding: 0px;
        height: 6vh;
        width: 20vh;
    }
    .page-one-container {
        padding: 0;
        height: 90vh;
        width: 100%;
    }
    .page-one {
        border-radius: 0;
        justify-content: space-around;
        padding: 5vh;
    }
    .page-one-heading {
        margin-top: 5vh;
        gap: 2vh;
    }
    .query-parent {
        height: 20vh;
        width: 100%;
    } 
    .category-items {
        width: 20vw;
    }
    .query-search {
        height: 70%;
        width: 100%;
        display: flex;
        gap: 5px;
        color: black;
    }
    .search {
        height: 100%;
        width: 100%;
        padding: 1.5vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }
    .searchbtn {
        width: 90%;
    }



 }

 /* applies to x-small devices (portrait phones, less than 576px) */
 @media (max-width: 575.98px) { 
    .nav-item-container, .login-signup-container {
        display: none;
    }
    .company-name-container {
        width: fit-content;
    }
    .navbar-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .menu-btn {
        display: block;
    }
    .signupbtn {
        padding: 0px;
        height: 6vh;
        width: 20vh;
    }
    .page-one-container {
        padding: 0;
    }
    .page-one {
        border-radius: 0;
        padding: 3vh;
    }
    .page-one-heading {
        margin-top: 0;
        gap: 2vh;

    }

    .page-one {
        border-radius: 0;
        justify-content: start;
        padding: 2vh;
        gap: 20vh;
        
    }
    .page-one-heading {
        gap: 2vh;
    }
    .query-parent {
        height: 42vh;
        width: 100%;
        border: solid 1px white;
        display: flex;
        flex-direction: column;
        gap: 0px;
    } 
    .category-items {
        width: 100%;
        border-radius: 0px;
        background-color: aliceblue;
        height: 100%;
    }
    .category-active {
        background-color: rgb(255, 238, 0);
    }
    .query-search {
        height: 100%;
        width: 100%;
        margin-top: 0;
        display: grid;
        gap: 0;
        grid-template-columns: repeat(2,1fr);
        color: black;
    }
    .date {
        width: 100%;
        padding: 5px;
        margin-top: 0px;
    }
    .search {
        height: 100%;
        width: 100%;
        padding: 1.5vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }
    .searchbtn {
        width: 90%;
    }
    .searchbtn-container {
        justify-content: end;
        align-items: center;
    }
    
  }