body {
    padding-top: 12vh;
    background-color: rgba(238, 238, 238, 0.911);
}
nav {
    background-color: white;
    height: 12vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 10px;
}
.navbar-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 30px;
}
.company-name-container  {
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #00b0c4;
}
.menu-btn {
    display: none;
}
.nav-item-container {
    height: 100%;
    width: 100%;
    font-family: roboto;
    gap: 20px;
    display: flex;
}
.login-signup-container {
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.loginbtn {
    all: unset;
    color: #00b0c4;
    background-color: transparent;
    cursor: pointer;
}
.signupbtn {
    padding: 10px 30px;
    color: white;
    border: none;
    border-radius: 30px;
    background-color: #00b0c4;   
    cursor: pointer;
}
.signupbtn:hover {
    background-color: #00a4b6;
}
.nav-link:hover {
    font-weight: bold;
}
/* .nav-ofcanvas {
    display: none;
} */

.menu-btn {
    display: none;
    color: #00b0c4;
    font-size: 35px;
    cursor: pointer;
    background-color: transparent;
    border: none;
} 
.nav-ofcanvas {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: white;
    top: 0;
    right: 0;
    z-index: 2000;

}
.ofcanvas-child {
    height: 100%;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    margin-left: 30%;
}
.closebtn {
    font-size: 3rem;
    height: fit-content;
    width: fit-content;
    background-color: transparent;
    border: none;
    position: absolute;
    right: 0;
}
.closebtn:hover {
    cursor: pointer;
}
.ofcanvas-link {
    all: unset;
    font-size: 2em;
    font-weight: bold;
}
.ofcanvas-link:hover {
    cursor: pointer;
    color: #00a4b6;
}
