html {
    scrollbar-width: none;
}
body {
    padding-top: 12vh;
    background-color: rgba(238, 238, 238, 0.911);
}
nav {
    background-color: white;
    height: 12vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 10px;
}
.navbar-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 30px;
}
.company-name-container  {
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #00b0c4;
}
.menu-btn {
    display: none;
}
.nav-item-container {
    height: 100%;
    width: 100%;
    font-family: roboto;
    gap: 20px;
    display: flex;
}
.login-signup-container {
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.loginbtn {
    all: unset;
    color: #00b0c4;
    background-color: transparent;
    cursor: pointer;
}
.signupbtn {
    padding: 10px 30px;
    color: white;
    border: none;
    border-radius: 30px;
    background-color: #00b0c4;   
    cursor: pointer;
}
.signupbtn:hover {
    background-color: #00a4b6;
}
.nav-link:hover {
    font-weight: bold;
}
/* .nav-ofcanvas {
    display: none;
} */

.menu-btn {
    display: none;
    color: #00b0c4;
    font-size: 35px;
    cursor: pointer;
    background-color: transparent;
    border: none;
} 
.nav-ofcanvas {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: white;
    top: 0;
    right: 0;
    z-index: 2000;
    

}
.ofcanvas-child {
    height: 100%;
    width: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    margin-left: 30%;
}
.closebtn {
    font-size: 3rem;
    height: fit-content;
    width: fit-content;
    background-color: transparent;
    border: none;
    position: absolute;
    right: 0;
}
.closebtn:hover {
    cursor: pointer;
}
.ofcanvas-link {
    all: unset;
    font-size: 2em;
    font-weight: bold;
}
.ofcanvas-link:hover {
    cursor: pointer;
    color: #00a4b6;
}
.page-one-container {
    height: 120vh;
    width: 100%;
    padding: 5vh;
}
.page-one {
    height: 100%;
    width: 100%;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    padding: 10vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.page-one-bgimg {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    filter: brightness(70%);
    z-index: -1;
}
.page-one-heading {
    margin-top: 10vh;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 5vh;
}
.query-parent {
    height: 35vh;
    width: 100%;
}
.query-category {
    width: 100%;
    height: 30%;
    display: flex;
}
.category-items {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 10vw;
    border-radius: 15px 15px 0 0;
    background-color: rgba(255, 255, 255, 0.658);
}
.category-items:hover {
    cursor: pointer;
}
.category-active {
    background-color: rgb(255, 238, 0);
}
.query-search {
    background-color: rgb(255, 255, 255);
    height: 70%;
    width: 100%;
    display: flex;
    gap: 20px;
    color: black;
}
.search {
    height: 100%;
    width: 100%;
    padding: 5vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.searchbtn-container {
    justify-content: end;
    align-items: center;
}
.searchbtn {
    background-color: #00b0c4;
    color: white;
    border: none;
    width: 70%;
    padding: 10px;
    border-radius: 10px;
}
.dropdown {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
}
.date {
    width: 80%;
    padding: 5px;
    margin-top: 5px;
}